# Preciso preencher algum registro de usuário ou verificação de identidade?

NÃO! O Bitcoin nasceu como *"um sistema de dinheiro eletrônico pessoa a pessoa"* e nos orgulhamos de apoiar esse princípio. Nenhum dos seus dados pessoais é exigido, as trocas são totalmente entre pares e [@lnp2pBot](https://t.me/lnp2pbot) não coleta ou armazena nenhuma informação pessoal das partes envolvidas.
