# Preciso preencher algum registro de usuário ou fazer verificação de identidade?

NÃO! O Bitcoin nasceu como *"um sistema de dinheiro eletrônico peer-to-peer"* e nos orgulhamos em apoiar esse princípio. Nenhum de seus dados pessoais é necessário, as trocas são totalmente entre pares e [@lnp2pBot](https://t.me/lnp2pbot) não coleta nem armazena qualquer informação pessoal das partes envolvidas.
