# Dois-je m'enregistrement utilisateur ou effectuer une vérification d'identité (KYC)?

NON ! Bitcoin est un "système de monnaie électronique de pair à pair", et nous sommes fiers de soutenir ce principe. Aucune information personnelle ne vous est demandée, les échanges se font entièrement entre pairs, et [@lnp2pBot] (https://t.me/lnp2pbot) ne collecte ni ne stocke aucune information personnelle.
