#  ¿Necesito llenar algún registro de usuario o verificación de identidad?

¡NO! Bitcoin nació como *"un sistema de dinero electrónico persona a persona"* y nos enorgullece apoyar ese principio. Ninguno de tus datos personales es requerido, los intercambios son totalmente entre pares y [@lnp2pBot](https://t.me/lnp2pbot) no recopila ni almacena ninguna información personal de las partes implicadas.
