# Do I need to fill out any user registration or identity verification?

NO! Bitcoin was born as _a peer-to-peer electronic money system_, and we are proud to support that principle. No personal information is required from you, the exchanges are entirely between peers, and [@lnp2pbot](https://t.me/lnp2pbot) does not collect or store any personal information of the parties involved.
